bin
obj
csx
.vs
edge
Publish
.vscode
*.DS_Store
*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/secrets
/.serverless
.secrets
serverless-config.json
appsettings.json

#ApiKeys for developement
secrets.js
test-secrets.js

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

.DS_Store
