service: kette

custom:
  apiKeysTableName: 'apiKeys2-table-${self:provider.stage}'
  userIdIndex : 'apiKeys-table-userId-index-${self:provider.stage}'
  usersTableName: 'users-table-${self:provider.stage}'
  creatorIdIndex: 'users-table-creatorId-index-${self:provider.stage}'
  assetTransactionsTableName: 'assetTransactions-table-${self:provider.stage}'
  ethAddressIndex : 'assetTransactions-table-ethAddress-index-${self:provider.stage}'
  uniqueAssetIdIndex : 'assetTransactions-table-uniqueAssetId-index-${self:provider.stage}'

  dynamodb:
    start:
      migrate: true

provider:
  name: aws
  apiKeys:
    - ${self:provider.stage}-forTests
  usagePlan:
    quota:
      limit: 50000
      offset: 0
      period: MONTH
    throttle:
      burstLimit: 200
      rateLimit: 100
  runtime: nodejs8.10
  region: us-east-1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - "arn:aws:dynamodb:us-east-1:*:*"
    - Effect: Allow
      Action: 'ssm:GetParameter'
      Resource:
        - "arn:aws:ssm:us-east-1:*:parameter/*"
  environment:
    APIKEYS_TABLE: ${self:custom.apiKeysTableName}
    APIKEYS_TABLE_USERID_INDEX : ${self:custom.userIdIndex}
    USERS_TABLE: ${self:custom.usersTableName}
    USERS_TABLE_CREATORID_INDEX: ${self:custom.creatorIdIndex}
    ASSETTRANSACTIONS_TABLE: ${self:custom.assetTransactionsTableName}
    ASSETTRANSACTIONS_TABLE_ETHADDRESS_INDEX : ${self:custom.ethAddressIndex}
    ASSETTRANSACTIONS_TABLE_UNIQUEASSETID_INDEX : ${self:custom.uniqueAssetIdIndex}
plugins:
  - serverless-dynamodb-local
  - serverless-offline

functions:
  register:
    handler: handlerRegister.register
    events:
      - http:
              method: post
              path: register
              cors: true
              private : true
  updateTransaction:
    handler: handlerUpdateTransaction.updateTransaction
    events:
      - http:
              method: post
              path: assets/{id}
  createApiKey:
    handler: handlerCreateApiKey.createApiKey
    events:
      - http:
              method: post
              path: apiKeys
              cors: true
              authorizer: aws_iam
  getApiKeys:
    handler: handlerGetApiKeys.getApiKeys
    events:
      - http:
              method: get
              path: apiKeys
              cors: true
              authorizer: aws_iam

  getAssets:
    handler: handlerGetAssets.getAssets
    events:
      - http:
              method: get
              path: assets
              cors: true
              authorizer: aws_iam
  getUsers:
    handler: handlerGetUsers.getUsers
    events:
      - http:
              method: get
              path: users
              cors: true
              private : true
  getParameters:
    handler: handlerGetParameters.getParameters
    events:
      - http:
              method: get
              path: parameters
              cors: true
resources:
  Resources:
    UsersDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          -
            AttributeName: userId
            AttributeType: S
          -
            AttributeName: creatorId
            AttributeType: S
        KeySchema:
          -
            AttributeName: userId
            KeyType: HASH
        GlobalSecondaryIndexes:
          -
            IndexName: ${self:provider.environment.USERS_TABLE_CREATORID_INDEX}
            KeySchema:
              -
                AttributeName: creatorId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:custom.usersTableName}
    AssetTransactionsDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
          -
            AttributeName: uniqueAssetId
            AttributeType: S
          -
            AttributeName: ethAddress
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        GlobalSecondaryIndexes:
          -
            IndexName: ${self:provider.environment.ASSETTRANSACTIONS_TABLE_UNIQUEASSETID_INDEX}
            KeySchema:
              -
                AttributeName: uniqueAssetId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
          -
            IndexName: ${self:provider.environment.ASSETTRANSACTIONS_TABLE_ETHADDRESS_INDEX}
            KeySchema:
              -
                AttributeName: ethAddress
                KeyType: HASH
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
        TableName: ${self:custom.assetTransactionsTableName}
    ApiKeysDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          -
            AttributeName: apiKey
            AttributeType: S
          -
            AttributeName: userId
            AttributeType: S
        KeySchema:
          -
            AttributeName: apiKey
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        GlobalSecondaryIndexes:
          -
            IndexName: ${self:provider.environment.APIKEYS_TABLE_USERID_INDEX}
            KeySchema:
              -
                AttributeName: userId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
        TableName: ${self:custom.apiKeysTableName}